{% set page = get_page(path="about/index.md") %}

<a href="{{ page.path }}" class="clickable-card">
  <article class="borderless">
    <div class="card-image">
      <img src=" {{config.extra.portrait }}" alt="{{ config.extra.portrait_alt }}">
    </div>
    <div class="card-content">
      <p>
        {{ config.extra.about }}
      </p>
    </div>
  </article>
</a>
