{% set page = get_page(path="contact/index.md") %}
{% set business_hours = load_data(path="contact/business_hours.json") %}

<a href="{{ page.path }}" class="clickable-card">
  <article>
    <h2>Çalışma saatleri</h2>
    <ul class="opening-hours">
      {% for day, hours in business_hours %}
        <li id="day-{{ loop.index }}">
          <div class="day">
            <strong class="day-of-the-week">{{ day | title }}</strong>
            <div class="hours">
              {% if hours %}
                {% if hours.break %}
                  <span class="before-break">
                    <time datetime="{{ hours.start }}">{{ hours.start }}</time> -
                    <time datetime="{{ hours.break.start }}">{{ hours.break.start }}</time> ve
                  </span>
                  <span class="after-break">
                    <time datetime="{{ hours.break.end }}">{{ hours.break.end }}</time> -
                    <time datetime="{{ hours.end }}">{{ hours.end }}</time>
                  </span>
                {% else %}
                  <time datetime="{{ hours.start }}">{{ hours.start }}</time> -
                  <time datetime="{{ hours.end }}">{{ hours.end }}</time>
                {% endif %}
              {%-else %}
                Kapalı
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </article>
</a>
