{% set page = get_page(path="contact/index.md") %}

<a href="{{ page.path }}" class="clickable-card">
  <article>
    <h2>{{ page.title }}</h2>
    <a role="button" href="tel:{{ config.extra.phone | replace(from=" ", to="") }}">
      <div class="icon-text">
        <img src="/images/phone_white.svg" alt="">
        <address class="m-0">{{ config.extra.phone }}</address>
      </div>
    </a>
    <hr>
    <a role="button" href="mailto:{{ config.extra.email }}">
      <div class="icon-text">
        <img src="/images/at-symbol_white.svg" alt="">
        <address class="m-0">{{ config.extra.email }}</address>
      </div>
    </a>
  </article>
</a>
