/* eb-garamond-regular - cyrillic_greek_greek-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v27-cyrillic_greek_greek-ext_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* eb-garamond-italic - cyrillic_greek_greek-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v27-cyrillic_greek_greek-ext_latin_latin-ext-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.skip-to-content {
  left: 50%;
  position: absolute;
  transform: translateY(-140%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  transform: translateY(0%);
}


/* Make the main content area fill the viewport */
main {
  min-height: 80vh;
}

@media (min-width: 1024px) {
  div.main-flex {
    display: flex;

    main {
      flex-grow: 1;
    }

    aside.sidebar {
      margin-top: calc(1.125 * 2rem + var(--pico-typography-spacing-vertical));
      margin-left: 2.5rem;
      width: 15rem;
      flex-shrink: 0;
    }
  }
}




/* Remove link styling from clickable article cards */
a.clickable-card {
  text-decoration: none;
  color: inherit;
}

.article-teaser header > h2 {
  margin: 0;
}

/* Floating button for Whatsapp */
.floating-button {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  background-color: var(--pico-color);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: var(--pico-box-shadow);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the SVG logo */
.floating-button img {
  width: 40px;
  height: 40px;
}

/* Google Maps */
.google-maps {
  height: 30rem;
}

.google-maps > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

article.borderless {
  padding: 0;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card-image {
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    display: initial;
    position: relative;
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;

    .card-image {
      width: 50%;
    }

    .card-content {
      width: 50%;
    }
  }
}

.sidebar {

  .card-image {

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    padding: var(--pico-spacing);
  }
}

.image-license {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  img {
    opacity: 0.3;
    width: 1.2rem;
  }
}


.image-attribution-right {
    font-size: 0.5rem;
    position: absolute;
    bottom: 0.2rem;
    right: 0.8rem;
}

.image-attribution-left {
    font-size: 0.5rem;
    position: absolute;
    top: 0.2rem;
    right: 0.8rem;
}

@media (min-width: 768px) {
  .image-attribution-right {
    bottom: 0.8rem;
    top: auto;
    right: 0.2rem;
    left: auto;
    transform-origin: bottom right;
    transform: rotate(-90deg) translateX(100%);
  }

  .image-attribution-left {
    bottom: 0.8rem;
    left: 0.2rem;
    right: auto;
    top: auto;
    transform-origin: bottom left;
    transform: rotate(90deg) translateX(-100%);
  }
}


article > ul {
  padding-left: 1.5rem;
}


address > p {
  margin-bottom: 0;

}

address > a {
  text-decoration: none;
}

.opening-hours .today {
  font-weight: 900;
  color: var(--pico-primary);
}

.opening-hours .day {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
  grid-column-gap: 0.5rem;

  .day-of-the-week {
    font-variant: small-caps;
    font-weight: 600;
  }

  .hours .after-break {
    white-space: nowrap;
  }
}

.icon-text {
  display: flex;
  align-items: flex-start;

  img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }

}

.text-icon {
  display: flex;
  align-items: flex-start;

  img {
    width: 2rem;
    margin-left: 0.5rem;
  }

}

.small-caps {
  font-variant-caps: small-caps;
}

.m-0 {
  margin: 0;
}


.sans-serif {
  font-family: var(--pico-font-family-sans-serif);
}

.color-inherit {
  color: inherit;
}


:root {
  --pico-font-family: "EB Garamond";
}
