{% macro license_icons(deed_url, author="") %}
  {% if "creativecommons.org" in deed_url %}
    {% if "/publicdomain/zero/" in deed_url %}
      {# https://creativecommons.org/publicdomain/zero/1.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/zero.svg">
       </a>
    {% elif "/licenses/by/" in deed_url %}
      {# https://creativecommons.org/licenses/by/4.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/by.svg">
      </a>
    {% elif "/licenses/by-sa/" in deed_url %}
      {# https://creativecommons.org/licenses/by-sa/4.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/by.svg">
        <img src="/images/cc-icons/sa.svg">
      </a>
    {% elif "/licenses/by-nd/" in deed_url %}
      {# https://creativecommons.org/licenses/by-nd/4.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/by.svg">
        <img src="/images/cc-icons/nd.svg">
      </a>
    {% elif "/licenses/by-nc/" in deed_url %}
      {# https://creativecommons.org/licenses/by-nc/4.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/by.svg">
        <img src="/images/cc-icons/nc.svg">
      </a>
    {% elif "/licenses/by-nc-sa/" in deed_url %}
      {# https://creativecommons.org/licenses/by-nc-sa/4.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/by.svg">
        <img src="/images/cc-icons/nc.svg">
        <img src="/images/cc-icons/sa.svg">
      </a>
    {% elif "/by-nc-nd/" in deed_url %}
      {# https://creativecommons.org/licenses/by-nc-nd/4.0/ #}
      <a rel="license" href="{{ deed_url }}">
        <img src="/images/cc-icons/by.svg">
        <img src="/images/cc-icons/nc.svg">
        <img src="/images/cc-icons/nd.svg">
      </a>
    {% endif %}

  {% elif "unsplash" in deed_url %}
    <a rel="license" href="{{ deed_url }}">Unsplash License</a>
  {% else %}
    <a rel="license" href="{{ deed_url }}">License</a>
  {% endif %}
{% endmacro license_icons %}

<!-- Usage: -->
<!-- from "macros/license.html" import license_icons -->
