{% extends "base.html" %}

{% block page_title %}404{% endblock page_title %}


{% block content %}
<div class="container">
    <h1 class="title is-1">404</h1>

    <div class="content">
        The content you're looking for could not be found.
    </div>

    <a class="button" href="{{ get_url(path="/") }}">Back</a>
</div>
{% endblock content %}
