{% set root = get_section(path="_index.md") %}

<nav>
  <ul>
    <li>
      <strong>
        <a href="/" class="contrast">{{ config.extra.brand_text }}</a>
      </strong>
    </li>
  </ul>
  <ul>
    {% for subsection in root.subsections %}
      {% set subsection = get_section(path=subsection) %}
      <li>
        <a href="{{ subsection.path }}" class="contrast">{{ subsection.title }}</a>
      </li>
    {% endfor %}

    {% for page in root.pages %}
      <li>
        <a href="{{ page.path }}" class="contrast">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

