{% extends "base.html" %}
{% import "macros/license.html" as license_macros %}
{% import "macros/image.html" as image_macros %}

{% block content %}
<h1>
  {{ page.title }}
</h1>
{{ page.content | safe }}

<h2>Education</h2>
{% set education = config.extra.education %}
{% set resized_university_image = resize_image(path=education.university.image.url, width=600, height=400, op="fit") %}


<a class="clickable-card" href="{{ education.university.url }}">
  <article class="borderless card">
    <div class="card-image">
      <img src="{{ resized_university_image.url }}"
           alt="{{ education.university.image.alt_text }}"
           width="600"
           height="400"
           loading="lazy">
      <div class="image-license">
        {{ license_macros::license_icons(deed_url=education.university.image.license_url) }}
      </div>
    </div>
    <div class="card-content">
      <p class="small-caps m-0">
        {{ education.university.degree }}, {{ education.university.graduation_year }}
      </p>
      <div class="text-icon">
        <h3>{{ education.university.name }}</h3>
        <img src="{{ education.university.logo }}">
      </div>
      <p>{{ education.university.description }}</p>
      {% if education.high_school_exchange.image.author %}
      <small class="image-attribution-left small-caps">Fotoğraf: {{ education.university.image.author}}</small>
    {% endif %}
    </div>
  </article>
</a>

{% set resized_high_school_exchange_image = resize_image(path=education.high_school_exchange.image.url, width=600, height=400, op="fit") %}

<article class="borderless card">
  <div class="card-content">
    <p class="small-caps m-0">
      {{ education.high_school_exchange.headline }}
    </p>
    <div class="text-icon">
      <h3>{{ education.high_school_exchange.name }}</h3>
    </div>
    <p>{{ education.high_school_exchange.description }}</p>
    {% if education.high_school_exchange.image.author %}
      <small class="image-attribution-right small-caps">Fotoğraf: {{ education.high_school_exchange.image.author}}</small>
    {% endif %}
  </div>
  <div class="card-image">
    <img src="{{ resized_high_school_exchange_image.url }}"
         alt="{{ education.high_school_exchange.image.alt_text }}"
         width="600"
         height="400"
         loading="lazy">
    <div class="image-license">
      {{ license_macros::license_icons(deed_url=education.high_school_exchange.image.license_url) }}
    </div>
  </div>
</article>

{% endblock content %}


{% block sidebar %}
<aside class="sidebar">
  {% include "sidebar/contact.html" %}
</aside>
{% endblock sidebar %}

