<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <meta name="author" content="{{ config.author }}">
    <meta name="description" content="{{ config.description }}">
    <link rel="stylesheet" href="/css/pico.jade.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <title>
      {% block head_title %}
        {% if page.title %}
          {{ page.title }}
        {% elif section.title %}
          {{ section.title }}
        {% else %}
          404
        {% endif %}
      {% endblock head_title %}
      | {{ config.title }}
    </title>
  </head>
  <body>
    <header class="container">
      <a href="#main" class="skip-to-content contrast" role="button">Skip to content</a>
      {% include "_navigation.html" %}
    </header>

    <div class="container main-flex">
      <main id="main">
          {% block content %} {% endblock content %}
      </main>
      {% block sidebar %}{% endblock sidebar %}
    </div>

    <footer class="container">
        {% if config.extra.phone %}
          <address>
            <a href="https://wa.me/{{ config.extra.phone | replace(from=" ", to="") }}" class="floating-button" target="_blank">
              <img src="/images/whatsapp.svg" alt="WhatsApp" />
            </a>
          </address>

      {% endif %}
        <p>{{ config.extra.copyright }}.</p>
    </footer>

    {% if config.extra.debug %}
      <div class="container">
        {% include '_debug.html' %}
      </div>
    {% endif %}

  </body>
  {% block additional_js %}{% endblock %}
</html>
