{% extends "base.html" %}

{% block content %}
<h1>
  {{ page.title }}
</h1>
{{ page.content | safe }}

{% set business_hours = load_data(path="contact/business_hours.json") %}

<div class="grid">
  <article>
    <h2>{{ config.extra.address.recipient }}</h2>
    <div class="icon-text">
      <img src="/images/building-office.svg" alt="">
      <address>
        <p>{{ config.extra.address.neighbourhood }},</p>
        <p>{{ config.extra.address.street }},</p>
        <p>{{ config.extra.address.postal_code }} {{ config.extra.address.locality }}/{{ config.extra.address.province }},</p>
        <p>{{ config.extra.address.country }}</p>
      </address>
    </div>
    <div class="icon-text">
      <img src="/images/phone_black.svg" alt="">
      <address>
        <a class="color-inherit" href="tel:{{ config.extra.phone | replace(from=" ", to="") }}">{{ config.extra.phone }}</a>
      </address>
    </div>
    <div class="icon-text">
      <img src="/images/at-symbol_black.svg" alt="">
      <address>
        <a class="color-inherit" href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
      </address>
    </div>
  </article>

  <article>
    <h2>Çalışma saatleri</h2>
    <ul class="opening-hours">
      {% for day, hours in business_hours %}
        <li id="day-{{ loop.index }}">
          <div class="day">
            <strong class="day-of-the-week">{{ day | title }}</strong>
            <div class="hours">
              {% if hours %}
                {% if hours.break %}
                  <span class="before-break">
                    <time datetime="{{ hours.start }}">{{ hours.start }}</time> -
                    <time datetime="{{ hours.break.start }}">{{ hours.break.start }}</time> ve
                  </span>
                  <span class="after-break">
                    <time datetime="{{ hours.break.end }}">{{ hours.break.end }}</time> -
                    <time datetime="{{ hours.end }}">{{ hours.end }}</time>
                  </span>
                {% else %}
                  <time datetime="{{ hours.start }}">{{ hours.start }}</time> -
                  <time datetime="{{ hours.end }}">{{ hours.end }}</time>
                {% endif %}
              {%-else %}
                Kapalı
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </article>
</div>


<article class="google-maps borderless"><iframe src="{{ config.extra.google_maps_embed_url }}" loading="lazy" referrerpolicy="no-referrer" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe></article>

{% endblock content %}

{% block additional_js %}
{# Get the current day of the week using javascript #}
<script>
  const day_of_the_week = new Date().getDay();
  {# add "day-" to the int of the current day of the week #}
  const day_id = "day-" + day_of_the_week;
  const currentDay = document.getElementById(day_id);
  currentDay.classList.add("today");
</script>

{% endblock additional_js %}



