{% extends "base.html" %}

{% block content %}
<h1>
  {{ section.title }}
</h1>
{{ section.content | safe }}
{% endblock content %}


{% block sidebar %}
<aside class="sidebar">
  {% include "sidebar/about.html" %}
  {% include "sidebar/business_hours.html" %}
  {% include "sidebar/contact.html" %}
</aside>
{% endblock sidebar %}
